body {
	background-color: rgb(21, 118, 163);
	background-image: url("background_picture.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	}

h1 {
	color: black;
	text-align: center;
}